.space{
    visibility: hidden;
}

.example{
    display: inline-block;
    height: 100%;
    border: none;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem;
}

.legend-el{
    height: 100%;
    display: flex;
    align-items: center;
}

.non_metal{
    background-color: #f2b20d;
}

.halogen{
    background-color: #f2c65e;
}

.noble_gas{
    background-color: #d5872a;
}

.alkali_metal{
    background-color: #258a6d;
}

.alkaline_earth_metal{
    background-color: #8a1251;
}

.transition_metal{
    background-color: #811896;
}

.post_transition_metal{
    background-color: #a32fb5;
}

.semi_metal{
    background-color: #8c6e91;
}

.lantanian{
    background-color: #4e60b1;
}

.actinian{
    background-color: #40abbf;
}

.App{
    display: flex;
    flex-direction: column;
    height: 100%;

    
    .content{
        width: 100%;
        height: 40%;
        display: flex;

        .table{
            width: 80%;
        }

        .searchbar{
            width: 20%;
            height: 5rem;
            background-color: paleturquoise;
        }
    
    }

    .legend{
        background-color: palevioletred;
        width: 100%;
        height: 5rem;
    }

}



.element-table{
    width: 100%;
    border: 1px;
    display: table;
  
  .element-tile{
    display: table-cell;
    width: calc(100%/18);
    color: white;
    border-right: 1px solid;
    border-left: 1px solid;

    .el{
        display: inline-block;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .el-num{
        font-weight: bold;
        text-align: left;
        float: left;
        font-size: 75%;
    }

    .el-symbol{
        font-weight: bold;
        font-size: 150%;
    }
    
    .el-name{
        max-width: 100%;
        overflow: hidden;
        font-size: 80%;
        white-space: nowrap;
    }

    .el-mass{
        font-size: 80%;
    }
  }

  .element-tile:hover{
    transform: scale(1.05);
  }
}

.popup{
    position: absolute;
    left: 200px
}
  
